Chili exports guide agent.json
{
  "name": "Chili exports guide agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -16
      ],
      "id": "c2259cf6-fbd7-4741-bffa-fd6ef8b23bd1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        736,
        -16
      ],
      "id": "79484a4a-49fa-422c-96d5-1358bd4d1b18",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "jollL2SHt7OR21oZ",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        208
      ],
      "id": "234fb7b7-c252-4b01-8473-7834ad10fdfb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "e291ba33-b7c5-42ee-a5d3-1d9abeeabcf6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TPYAhsoviBvLof5n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -320,
        288
      ],
      "id": "886bef70-2467-4eff-b584-fd9d7a5427d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look for the data in document",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -112,
        480
      ],
      "id": "4a85a68c-ba68-4b03-8025-eb346c751397",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "jollL2SHt7OR21oZ",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        288
      ],
      "id": "643350fc-0499-40fd-bb43-2bcf2a089965",
      "name": "WhatsApp Trigger",
      "webhookId": "597e482c-811a-437d-a2b7-ee49b8dfdfbe",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "jxspm0GXfqAPBaT0",
          "name": "WhatsApp OAuth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "925118904012746",
        "recipientPhoneNumber": "=+923424926443",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        256,
        288
      ],
      "id": "92dae33a-b41b-4b48-8dbf-a0bf7bddb00f",
      "name": "Send message",
      "webhookId": "4dc0f448-a7c8-463e-ac33-b13772d972e0",
      "credentials": {
        "whatsAppApi": {
          "id": "nqAZ2etxqVJoFAQp",
          "name": "WhatsApp account 5"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        512
      ],
      "id": "c63402a4-5b26-4b7d-965b-8a3c5cb5d12e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1o1c2HvH_nDI_eaOOWp35ZSdeh_47B8s3",
            "mode": "list",
            "cachedResultName": "Chilli exports",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1o1c2HvH_nDI_eaOOWp35ZSdeh_47B8s3"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "mimeType",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -16
      ],
      "id": "b5780134-4cb7-48ac-9481-e04b51f091c9",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YEbdfAPz2AUKtxxV",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        -16
      ],
      "id": "a88269f5-8231-4bf6-8d32-8999b192fe2a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YEbdfAPz2AUKtxxV",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        480,
        -16
      ],
      "id": "b6d4027e-f605-495c-86e5-35397decfd34",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        912,
        416
      ],
      "id": "245ee350-064d-4728-8689-4662d2c70107",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        432
      ],
      "id": "0194a1be-5a78-4e48-991a-7ab346e2e7dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TPYAhsoviBvLof5n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8c8abdb7-a330-40c6-adbf-6ec0537a2c16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "261dc381ec45c981d178b20fc9cb75c92a2ea2800cbade01c1d2ae59b2e6e2b0"
  },
  "id": "40SBI0NB5sy4xpOr",
  "tags": []
}